* > h1 {
  margin: 0;
}

.headerContent {
  height: 35px;
  padding: 10px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    color: white;
  }

  .span {
    color: white;
    margin-right: 7px;
  }
}
