@import "./mixin.scss";
@import "./normalize.scss";
@import "./variables";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Inter", system-ui;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    flex-grow: 1;
    // align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  p {
    margin: 0;
  }
}
